{% extends "base.html.twig" %}
{% block title %}
Main Page
{% endblock %}
{% block body %}
<div class="container">
   <div class="row justify-content-center">
      <div class="col-6">
         <br />
         <h1 class="text-center">Login de usuario</h1>
         <br />
         {% if app.user %}
         <h1>Welcome {{ app.user.name }}✅</h1>
         <br><br>
         <ul class="list-inline">
            <li class="list-inline-item">
               <a href="{{ path('login') }}" class="btn btn-primary">Check Messages</a>
            </li>
            <li class="list-inline-item">
               <a href="{{ path('sendMessage') }}" class="btn btn-secondary">Send Message</a>
            </li>

            <li class="list-inline-item">
               <a href="{{ path('logout') }}" class="btn btn-secondary">Logout</a>
            </li>
         </ul>
         <table class="table table-striped table-hover">
            <tr class="table-primary">
               <th class="text-center">Email From</th>
               <th class="text-center">Subject</th>
                <th class="col-6 text-center">Message</th>
               <th class="text-center">Time</th>
            </tr>
            {% for message in messages %}
            <tr>
               <td class="text-center">
                  {{ message.emailfrom }}
               </td>
               <td class="text-center">
                  {{ message.subject }}
               </td>
               <td class="text-center">
                  {{ message.message }}
               </td>
               <td class="text-center">
                  {{ message.time|date('Y-m-d H:i:s') }}
               </td>
            
            </tr>
            {% endfor %}
         </table>
         {% else %}

         {# quitaarrrrrrrrrrrr #}
         <div class="text-center">
            <h1>Welcome <i class="fas fa-check"></i></h1>
            <br />
            <ul class="list-inline">
               <li class="list-inline-item">
                  <a href="{{ path('checkMessage') }}" class="btn btn-primary">Login</a>
               </li>
               <li class="list-inline-item">
                  <a href="{{ path('register') }}" class="btn btn-secondary">Register</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
{% endif %}
{% endblock %}