{% extends 'base.html.twig' %}
{% block title %}Registro de Usuarios{% endblock %}
{% block body %}
<div class="container">
   <div class="row justify-content-center">
      <div class="col-md-6">
         <br><br><br>
         <h1 class="text-center">Registro de usuario</h1>
         <br>
         <!-- en caso de que el usuario ya este logeado y se meta en esta pagina se le redirige a su pagina personal-->
         {% if app.user %}
         <script>
            window.location.href = "{{ path('mainPage') }}"
         </script>
         <!-- pintamos form creado desde /Form/RegistrationFormType.php-->
         {% else %}
         <!-- se puede pintar simplemente con form_start, form_widget,form_end pero de esta manera añado estilo con bootstrap-->
         {{ form_start(form) }}
         <div class="form-group">
            <label for="{{ form.name.vars.id }}">Nombre de usuario</label>
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
         </div>
         <div class="form-group">
            <label for="{{ form.email.vars.id }}">Correo electrónico</label>
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
         </div>
         <div class="form-group">
            <label for="{{ form.plainPassword.vars.id }}">Contraseña</label>
            {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
         </div>
         <div class="d-flex justify-content-center">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary m-3'}}) }}
         </div>
         {{ form_end(form) }}
         <!-- Si se ha registrado correctamente pintamos mensaje informando y un boton con la opcion de irte a logear-->
         {% for message in app.session.flashbag().get('message') %}
         <div class="alert alert-success">{{ message }}</div>
         <ul class="list-inline d-flex justify-content-center">
            <li class="list-inline-item">
               <a href="{{ path('login') }}" class="btn btn-primary">Login</a>
            </li>
         </ul>
         {% endfor %}
      </div>
      {% endif %}
   </div>
</div>
{% endblock %}